* {
  font-family: "Century Modern";
}

a {
  color: #d1d2d4;
}

ul {
  list-style-type: none;
}

.portfolio-logo {
  background: url(../images/logo.png) no-repeat;
  background-size: contain;
}

.compact {
  flex-direction: row;
  justify-content: space-between;
}

.compact .portfolio-logo {
  height: 3rem;
  width: 18rem;
  margin-top: 0rem;
  align-items: flex-start;
}

.compact .portfolio-navigation-row {
  background-color: #ffffff;
}

.is-compact .portfolio-logo {
  height: 3rem;
  width: 18rem;
  margin-top: 0rem;
}

.single-column {
  justify-content: center;
  margin-top: 3rem;
}

.demo-card-wide.mdl-card {
  width: 75vw;
  margin: auto;
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 60vh;
  //background: url('../images/bookkeeping-card.jpg') center / cover;
}

.is-small-screen .demo-card-wide > .mdl-card__title {
  height: 30vh;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.staff-card-box {
  width: 70vw;
  min-height: 50vh;
  margin: auto;
}

.staff-card-box:not(:first-of-type) {
  margin-top: 2rem;
  background-size: cover;
  height: 25rem;
}

.staff-card {
  background-position: center;
  background-repeat: no-repeat
}

.tina-card {
  background-image: url('http://lorempixel.com/600/600/people');
}

.diana-card {
  background-image: url('http://lorempixel.com/600/600/people');
}

.angela-card {
  background-image: url('http://lorempixel.com/600/600/people');
}

.img-responsive {
    max-width: 100%;
    height: 12rem;
    width: 70vw;
}

.compact > .mdl-layout__drawer .mdl-layout--small-screen-only {
  display: block;
}

.is-compact > .mdl-layout__drawer .mdl-layout--small-screen-only {
  display: block;
}

.full-height-sep {
  min-height: 100vh;
  padding: 2rem;
  align-items: flex-start;
}

.blue-bg {
  background-color: #01178a;
  color: white;
}

.grey-bg {
  background-color: #d1d2d4;
  color: white;
}

.services-card {
  background-color: #01178a;
}

.services-card .mdl-card__supporting-text {
  color: white;
}

.services-card .mdl-card__title-text {
  color: white;
  width: 75%;
}

.services-card h5 {
  color: white;
}

.services-title-image {
  background-size: 5rem;
  background-repeat: no-repeat;
  background-position: right;
  color: #d1d2d4;
}

.main-card .mdl-card__supporting-text {
  width: 100%;
  text-align: center;
  padding: 0px;
}

.main-card h2.mdl-card__title-text {
  width: 100%;
  font-family: "Century Modern";
}

.bookkeeping-title {
  background-image: url('../images/book.png');
}

.irs-title {
  background-image: url('../images/irs.png');
}

.paycheck-title {
  background-image: url('../images/list.png');
}

.paytax-title {
  background-image: url('../images/alt-list.png');
}

.salestax-title {
  background-image: url('../images/money.png');
}

.portfolio-header .sub-page-logo-row {
  justify-content: space-between;
  padding: 1rem;
}

.center-big-content {
  text-align: center;
  font-size: 2rem;
  width: 100%;
  padding: 0px;
}


@media screen and (max-width: 400px) {

  .mdl-menu .mdl-navigation {
    flex-direction: column;
  }

  .portfolio-header .sub-page-logo-row {
    justify-content: center;
    width: 100%;
  }
}
