.portfolio-logo {
  background: url(../images/logo.png) no-repeat;
  background-size: contain;
}

.is-compact .portfolio-logo {
  height: 3rem;
  width: 18rem;
  margin-top: 0rem;
}

.single-column {
  justify-content: center;
  margin-top: 3rem;
}

.demo-card-wide.mdl-card {
  width: 75vw;
  margin: auto;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 60vh;
  background: url('../images/bookkeeping-card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.staff-card {
  width: 70vw;
  min-height: 50vh;
  margin: auto;
}

.staff-card .mdl-card__title {
  background-color: #d1d2d4;
  color: white;
}

.diana-card {
  background: url('../images/diana-card.jpg') center no-repeat;
  background-size: contain;
}

.img-responsive {
    max-width: 100%;
    height: 12rem;
    width: 70vw;
}

.is-compact > .mdl-layout__drawer .mdl-layout--small-screen-only {
  display: block;
}
